@model Escuela.Dominio.Enrollement
@{
    ViewData["Title"] = "ComboBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ComboBox</h1>
@using (Html.BeginForm("","",FormMethod.Get))
{
    @*<fom action="" method="post">

    </fom>*@
@Html.DropDownListFor(a => a.CourseID, new SelectList(ViewBag.estadolistcourse, "Value", "Text"), "Seleciona un curso", new { @clas = "form-control" })
<br />
@Html.DropDownListFor(a => a.StudentsID, new SelectList(ViewBag.estadoliststudent, "Value", "Text"), "Seleciona un estudiante", new { @clas = "form-control" })

    <input type="Submit"/>

}
