@*@model Escuela.Models.ViewModel.StudentViewModel*@
@model List<Escuela.Dominio.Students>
@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Student</h1>

<table id="tabla" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                LastName
            </th>
            <th>
                FirstMidName
            </th>
            <th>
                Date
            </th>

        </tr>

    </thead>

    <tbody>

        @foreach (var iteracion in Model)

        {
            <tr>
                <td>@iteracion.LastName</td>
                <td>@iteracion.FirtsMidName</td>
                <td>@iteracion.EnrollementsDate</td>
            </tr>

        }

    </tbody>

</table>